.active {
    background-color: #FB6100;
    color: white;
}

.sidebarMenu{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.sidebarMenu ul{
    list-style: none;
    display: flex;
}

.sidebarMenu li{
    width: fit-content;
    text-align: center;
}

.sidebarMenu a{
    text-decoration: none;
    color: #575757;
    margin-right: 24px;
    white-space: nowrap;
    font-size: 16px;
}

section{
    width: 100vw;
    height: 80vh;
    margin-top: 50px;
}

#section1{
    background-color: lightblue;
}
#section2{
    background-color: lightcoral;
}
#section3{
    background-color: lightgreen;
}
#section4{
    background-color: lightseagreen;
}
#section5{
    background-color: lightgoldenrodyellow;
}
#section6{
    background-color: lightslategray;
}
#section7{
    background-color: lightgray;
}
#section8{
    background-color: lightpink;
}
#section9{
    background-color: lightskyblue;
}